MLDL_LAB/GTA5/
datasets/Cityspaces
datasets/GTA5
__pycache__/utils.cpython-310.pyc
datasets/__pycache__
models/bisenet/__pycache__
models/deeplabv2/__pycache__

models/deeplabv2/deeplab_resnet_pretrained_imagenet.pth
models/deeplabv2/deeplabv2_step2a/deeplabv2.pth

models/bisenet/bisenet_step2a
models/bisenet/bisenet_step2b
models/bisenet/bisenet_step3b
models/bisenet/bisenet_step3a
models/bisenet/bisenet_step4

